.service {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-radius: 8px;
}
.service > img {
  border-radius: 8px;
  width: 365px;
  height: 300px;
}
.service-title {
  font-size: 4rem;
  text-shadow: 1px 2px 2px black;
}

.details-btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  margin: 30px;
}

.details-btn a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: rgb(5, 255, 255);
  font-weight: 500;
  text-shadow: 1px 2px 3px black;
  z-index: 1;

  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(15px);
}

.details-btn:hover a {
  letter-spacing: 3px;
}

.details-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all 0.5s ease-out;
}

.details-btn:hover a::before {
  transform: skewX(40deg) translateX(200%);
}

.details-btn::before,
.details-btn::before {
  bottom: -5px;
}

.details-btn::after {
  top: -5px;
}

.details-btn:hover::before,
.details-btn:hover::after {
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.3s;
}

.details-btn:hover::before {
  bottom: 0;
}

.details-btn:hover::after {
  top: 0;
}
